body {
    background-color: #333;
    color: #000;
    font-size: 87.5%;
    font-family: Arial;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: right;
}


/*------- Definizione Font ---------*/

@font-face {
    font-family: 'josefin';
    src: url('http://localhost/zft/font/JosefinSans-Regular.ttf');
}

a {
    text-decoration: none;
    outline: 0;
    color: #22cca3;
    font-family: josefin;
}

.body {
    clear: both;
    margin: 0 auto;
    width: 100%;
}

#logo_resize {
    width: auto;
    height: 75px;
    display: none;
    position: absolute;
    top: 0;
    left: 60%;
}

.mainHeader nav a:hover,
.mainHeader nav a:active,
.mainHeader nav .active a:link,
.mainHeader nav .active a:visited {
    /*Colore sovrapposto al passaggio di blemma */
    color: #fff;
    text-shadow: none !important;
}

.mainHeader {
    position: fixed;
    top: 0;
    height: 66px;
    width: 100%;
    background-color: rgba(58, 58, 58, 0.6);
    z-index: 100;
}

#resizeMenu {
    display: none;
}

header label {
    display: none;
    width: 40px;
    height: 45px;
    padding: 10px;
}

header label img {
    align-self: center;
    margin-top: 10px;
    margin-left: 5px;
    float: left;
}

header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}

.logo {
    float: left;
}

.menu img {
    display: inline-block;
    width: auto;
    height: 75px;
    margin-left: 200%;
}

.menu ul {
    vertical-align: middle;
    list-style: none;
    margin: 0;
    display: inline-flex;
    padding: 0;
}

.menu li a {
    margin-top: 8px;
    vertical-align: center;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 22px;
    vertical-align: middle;
}

.menu li a:hover {
    color: white;
}


/*------ RESIZE MENU ----------*/

@media (max-width:720px) {
    header label {
        display: block;
    }
    #logo_resize {
        display: flex;
    }
    .menu img {
        display: none;
    }
    .menu {
        position: absolute;
        background: rgba(58, 58, 58, 0.6);
        width: 25%;
        margin-left: -70%;
        transition: all 0.5s;
        text-align-last: center;
        text-align: center;
    }
    .menu ul {
        flex-direction: column;
        align-items: center
    }
    #resizeMenu:checked ~ .menu {
        margin: 0;
    }
}


/*-------------------------------- Fine Menu ----------------------------------------*/

.mainContent {
    overflow: hidden;
    line-height: 25px;
    text-align: left;
    margin-top: 4%;
    margin-bottom: 2%;
}

.topcontent {
    padding: 2% 5%;
    margin-bottom: 4%;
}

.bottomcontent {
    padding: 2% 5%;
}

.content {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 5%;
    float: left;

}
.content li{
    position: relative;
    margin-left:-3.5%;
    list-style: none;
    display: inline-block;
    margin-top: -40px;
}

.slideContent {
    padding: 2% 5%;
    text-align: center;
}


/*----------------------------- Footer ---------------------------------------------- */

.mainFooter {
    position: sticky;
    bottom: 0%;
    height: 100%;
    margin-bottom: 0px;
    height: 50px;
    background-color: rgba(58, 58, 58, 0.6);
    font-family: josefin;
    text-align-last: center;
}

.mainFooter nav li a {
    display: block;
    text-decoration: none;
    list-style: none;
}

.mainFooter nav li {
    list-style: none;
}


/*----------------------------------- Fine footer -----------------------------------*/


.sezione {
    list-style: none;
}

.sezione li {
    transform: scale(0.6);
    display: block;
    display: inline-block;
    margin-right: 3%;
}

.content img {
    width: 100%;

}

#Stage3 {
    display: none;
}

#Stage{
    top: -35px;
}
@media (max-width:720px) {

    .content li{
    position: relative;
    margin-left:-3.5%;
    list-style: none;
}

   #Stage3{
    display: block;
    margin-top: 60px;
    margin-left: 14px;
}
    #Stage{
        display: none;
    }


}
