body {
    background-color: #22cda3;
    color: #000;
    font-size: 87.5%;
    font-family: Arial;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    text-align: right;
}

/*------- Definizione Font ---------*/

@font-face {
    font-family: 'josefin';
    src: url('http://localhost/zft/font/JosefinSans-Regular.ttf');
}

a {
    text-decoration: none;
    outline: 0;
    color: #22cca3;
    font-family: josefin;
}

.body {
    clear: both;
    margin: 0 auto;
    width: 100%;
}

#logo_resize{
    width: auto;
    height: 75px;
    display: none;
    position: absolute;
    top:0;
    left: 60%;
}
.mainHeader nav a:hover,
.mainHeader nav a:active,
.mainHeader nav .active a:link,
.mainHeader nav .active a:visited {
    /*Colore sovrapposto al passaggio di blemma */
    color: #fff;
    text-shadow: none !important;
}

.mainHeader {

    position: fixed;
    top: 0;
    height: 66px;
    width: 100%;
    background-color: rgba(58, 58, 58, 0.6);
}

#resizeMenu{
    display: none;

}
header label {
    display: none;

    width: 40px;
    height: 45px;
    padding: 10px;
}
header label img {
    align-self: center;
    margin-top: 10px;
    margin-left: 5px;
    float: left;
}
header label:hover{
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}
.logo{
    float: left;
}
.menu img{
    display: inline-block;
    width: auto;
    height: 75px;
    margin-left: 200%;
}

.menu ul {
    vertical-align:middle;
    list-style: none;
    margin: 0;
    display: inline-flex;
    padding: 0;

}
.menu li a {
    margin-top: 11px;
    vertical-align: center;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    }


.menu li a:hover
{
    color: white;

}

/*------ RESIZE MENU ----------*/
@media (max-width:720px){
    header label {
        display: block;

    }
    #logo_resize{
        display: flex;


    }
    .menu img{
        display: none;
    }
    .menu{
        position: absolute;
        background: rgba(58, 58, 58, 0.6);
        width: 25%;
        margin-left: -70%;
        transition: all 0.5s;
        text-align-last: center;
    }
    .menu ul {
        flex-direction: column;
        align-items: center
    }

    #resizeMenu:checked ~ .menu{
        margin: 0;
    }

}

/*-------------------------------- Fine Menu ----------------------------------------*/

.mainContent {
    overflow: hidden;
    line-height: 25px;
    text-align: left;
    margin-top: 4%;
    margin-bottom: 2%;
}

.topcontent {
    padding: 2% 5%;
    margin-bottom: 4%;
}

.bottomcontent {
    padding: 2% 5%;
}

.content {
    width: 100%;
    float: left;
}

/*----------------------------- Footer ---------------------------------------------- */


.mainFooter {

    position: sticky;

    bottom: 0%;
    height: 100%;
    margin-bottom: 0px;
    height: 50px;
    background-color: rgba(58, 58, 58, 0.6);
    font-family: josefin;
    text-align-last: center;



}
.mainFooter nav li a{
    display: block;
    text-decoration: none;
    list-style: none;

}
.mainFooter nav li{

    list-style: none;
}


/*---------------------------Slider---------------------------------------------------*/

.slides {
    padding: 0;
    width: 609px;
    height: 420px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 609px;
    height: 420px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

	  opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
	background: rgba(0, 0, 0, 0.8);
}
