body {
	background-color: #f5f5f5;
	color : #000;
	font-size: 87.5%;
	font-family: Arial;
	line-height: 1.5;
	margin: 0;
	padding: 0;
	text-align: left;
}

.body{
	clear: both;
	margin: 0 auto;
	width: 70%;

}

/*Stile di ancoraggio*/

a {
	outline: 0;
	}

a img {
	border: 0px;
	text-decoration: none;
}

a:link, a:visited {
	color: #ace1af;
	padding: 0 1px;
	text-decoration: none;
}

a:hover, a:active {
	background-color: #ace1af;
	color: #fff;
	text-decoration: none;
}


.mainHeader nav{
	background: #666; /*cambiare colore con quello del menu di index*/
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 30px auto;
	text-align: center;
	border-radius: 5px;
	-moz-border-radius: 5px; /*per far funzionare istruzione su mozilla e webkit*/
	-webkit-border-radius: 5px;
}
.mainHeader nav ul{
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li{
	float: left;
	display: inline;
}
.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 23px;
	text-decoration: none;
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {  /*Colore sovrapposto al passaggio */
	background: #ace1af;
	color: #fff;
	text-shadow: none !important;
}
.mainHeader nav li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
